@model IEnumerable<Msit115BestOne.Models.Picture>
@foreach (var _image in Model)
{
    
        <a class="box"><img  style="width:200px;height:220px;margin-top:10px" alt="Img" title="" id="@_image.ImageID" src='@Url.Action("BytesImage2","MyGood",new {area="MyCaseCenter",id=_image.ImageID })' /></a>
       
}
