
@{
    ViewBag.Title = "忘記密碼";
    //Layout = "~/Areas/MyMember/Views/Shared/_Layout.cshtml";
}

<h2>忘記密碼</h2>

<form id="loginForm" method="post" action="~/MyMember/Member/ForgetPassword" novalidate="novalidate">
    <div>
        <div class="form-group">
            <label for="username" class="control-label">帳號</label>
            <input type="text" class="form-control" id="MAccount" name="MAccount" value="" required="" title="請輸入您的帳號">
            <span class="help-block"></span>
        </div>

        <div class="form-group">
            <label for="password" class="control-label">電子信箱</label>
            <input type="email" class="form-control" id="Email" name="Email" value="" required="" title="請輸入您的電子信箱">
            <span class="help-block"></span>
        </div>

        <div class="form-group">
            <label for="password" class="control-label">電話</label>
            <input type="text" class="form-control" id="Phone" name="Phone" value="" required="" title="請輸入您的電話">
            <span class="help-block"></span>
        </div>

        <div id="loginErrorMsg"><span class="text-danger">@TempData["error"]</span></div>
        <button type="submit" class="btn btn-success center-block">確定</button>
        <br />
        <br />
        <br />
    </div>
</form>