@model IEnumerable<Msit115BestOne.Areas.MyCaseCenter.Models.Partial.CaseManPower>
@{
    ViewBag.Title = "討論區";
}
@section heads{
    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href="~/Areas/MyCaseCenter/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Areas/MyCaseCenter/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Areas/MyCaseCenter/css/prettyPhoto.css" rel="stylesheet" />
    <link href="~/Areas/MyCaseCenter/css/custom-styles.css" rel="stylesheet" />
    <!-- CSS================================================== -->
    <link rel="shortcut icon" href="~/Areas/MyCaseCenter/img/favicon.ico">
    <link rel="apple-touch-icon" href="~/Areas/MyCaseCenter/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/Areas/MyCaseCenter/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/Areas/MyCaseCenter/img/apple-touch-icon-114x114.png">
}
@section styles{
    @*<style>
            .ProductsImg {
                height: 150px;
                width: 220px;
            }
        </style>*@
    <style>
        .img {
            width: 270px;
            height: 220px;
        }

        .pageGroup {
            width: auto;
        }
    </style>
}
<h2>討論區</h2>

<body>
    <div class="color-bar-1"></div>
    <div class="color-bar-2 color-bg"></div>

    <div class="container main-container">

        <div class="row header">
            <!-- Begin Header -->
            <!-- Logo
            ================================================== -->
            <div class="span5 logo">
                <a href="index.htm"><img src="~/Areas/MyCaseCenter/img/piccolo-logo.png" alt="" /></a>
                <h5>Big Things... Small Packages</h5>
            </div>
          
        </div><!-- End Header -->
        <!-- Blog Content
        ================================================== -->
        <div class="row">
            <!-- Blog Posts
            ================================================== -->
            <div class="span8 blog">
                <!-- Blog Post 1 -->
                <article class="clearfix">
                    <a href="blog-single.htm"><img src="~/Areas/MyCaseCenter/img/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left"></a>
                    <h4 class="title-bg"><a href="blog-single.htm">A subject that is beautiful in itself</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. </p>
                    <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i> 09/04/15</li>
                            <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="icon-comment"></i> <a href="#">5 Comments</a></li>
                            <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a></li>
                        </ul>
                    </div>
                </article>
                <!-- Blog Post 1 -->
                <article class="clearfix">
                    <a href="blog-single.htm"><img src="~/Areas/MyCaseCenter/img/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left"></a>
                    <h4 class="title-bg"><a href="blog-single.htm">A great artist is always before his time</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. </p>
                    <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i> 09/04/15</li>
                            <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="icon-comment"></i> <a href="#">5 Comments</a></li>
                            <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a></li>
                        </ul>
                    </div>
                </article>
                <!-- Blog Post 1 -->
                <article class="clearfix">
                    <a href="blog-single.htm"><img src="~/Areas/MyCaseCenter/img/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left"></a>
                    <h4 class="title-bg"><a href="blog-single.htm">Is art everything to anybody?</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. </p>
                    <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i> 09/04/15</li>
                            <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="icon-comment"></i> <a href="#">5 Comments</a></li>
                            <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a></li>
                        </ul>
                    </div>
                </article>
                <!-- Blog Post 1 -->
                <article class="clearfix">
                    <a href="blog-single.htm"><img src="~/Areas/MyCaseCenter/img/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left"></a>
                    <h4 class="title-bg"><a href="blog-single.htm">A Brand New Illustration Contest</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. </p>
                    <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i> 09/04/15</li>
                            <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="icon-comment"></i> <a href="#">5 Comments</a></li>
                            <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a></li>
                        </ul>
                    </div>
                </article>
                <!-- Blog Post 1 -->
                <article class="clearfix">
                    <a href="blog-single.htm"><img src="~/Areas/MyCaseCenter/img/gallery/gallery-img-1-4col.jpg" alt="Post Thumb" class="align-left"></a>
                    <h4 class="title-bg"><a href="blog-single.htm">How to Create a Beautiful Scene</a></h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla iaculis mattis lorem, quis gravida nunc iaculis ac. Proin tristique tellus in est vulputate luctus fermentum ipsum molestie. </p>
                    <button class="btn btn-mini btn-inverse" type="button">Read more</button>
                    <div class="post-summary-footer">
                        <ul class="post-data-3">
                            <li><i class="icon-calendar"></i> 09/04/15</li>
                            <li><i class="icon-user"></i> <a href="#">Admin</a></li>
                            <li><i class="icon-comment"></i> <a href="#">5 Comments</a></li>
                            <li><i class="icon-tags"></i> <a href="#">photoshop</a>, <a href="#">tutorials</a></li>
                        </ul>
                    </div>
                </article>
                <!-- Pagination -->
                <div class="pagination pageGroup">
                    <ul>
                        <li class="active"><a href="#">Prev</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
            <!-- Blog Sidebar
            ================================================== -->
            <div class="span3 sidebar">
                
                <!--Tabbed Content-->
                <h5 class="title-bg">More Info</h5>
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#comments" data-toggle="tab">Comments</a></li>
                    <li><a href="#tweets" data-toggle="tab">Tweets</a></li>
                    <li><a href="#about" data-toggle="tab">About</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="comments">
                        <ul>
                            <li><i class="icon-comment"></i>admin on <a href="#">Lorem ipsum dolor sit amet</a></li>
                            <li><i class="icon-comment"></i>admin on <a href="#">Consectetur adipiscing elit</a></li>
                            <li><i class="icon-comment"></i>admin on <a href="#">Ipsum dolor sit amet consectetur</a></li>
                            <li><i class="icon-comment"></i>admin on <a href="#">Aadipiscing elit varius elementum</a></li>
                            <li><i class="icon-comment"></i>admin on <a href="#">ulla iaculis mattis lorem</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="tweets">
                        <ul>
                            <li><a href="#"><i class="icon-share-alt"></i>@*@room122*@</a> Vivamus tincidunt sem eu magna varius elementum. Maecenas felis tellus, fermentum vitae laoreet vitae, volutpat et urna.</li>
                            <li><a href="#"> <i class="icon-share-alt"></i>@*@room122*@</a> Nulla faucibus ligula eget ante varius ac euismod odio placerat.</li>
                            <li><a href="#"> <i class="icon-share-alt"></i>@*@room122*@</a> Pellentesque iaculis lacinia leo. Donec suscipit, lectus et hendrerit posuere, dui nisi porta risus, eget adipiscing</li>
                            <li><a href="#"> <i class="icon-share-alt"></i>@*@room122*@</a> Vivamus augue nulla, vestibulum ac ultrices posuere, vehicula ac arcu.</li>
                            <li><a href="#"> <i class="icon-share-alt"></i>@*@room122*@</a> Sed ac neque nec leo condimentum rhoncus. Nunc dapibus odio et lacus.</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="about">
                        <p>Enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                    </div>
                </div>
                <!--Video Widget-->
                <h5 class="title-bg">Video Widget</h5>
                <iframe width="350" height="235" src="https://www.youtube.com/embed/ZZMiGnqhHdY" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

    </div> <!-- End Container -->
    <!-- Footer Area
        ================================================== -->
    
    <!-- Scroll to Top -->
    <div id="toTop" class="hidden-phone hidden-tablet">Back to Top</div>

</body>

@section scripts{
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script src="~/Areas/MyCaseCenter/js/jquery.easing.1.3.js"></script>
    <script src="~/Areas/MyCaseCenter/js/bootstrap.js"></script>
    <script src="~/Areas/MyCaseCenter/js/jquery.prettyPhoto.js"></script>
    <script src="~/Areas/MyCaseCenter/js/jquery.quicksand.js"></script>
    <script src="~/Areas/MyCaseCenter/js/jquery.custom.js"></script>
}
