
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>結果顯示</title>
    <style>
        fieldset {
            width: 400px;
            height: 120px;
        }
    </style>
</head>
<body>
    <fieldset>
        <legend>輸入內容</legend>
        <div>@ViewBag.Content</div>
    </fieldset>
    <fieldset>
        <legend>HTML顯示結果</legend>
        <div>@Html.Raw(ViewBag.Content)</div>
    </fieldset>
</body>
</html>

